<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="UTF-8" />
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
	<title>江苏仁铼劳务服务有限公司</title>
  <link rel="stylesheet" href="/pc/css/common.css" /> 
  <script src="https://www.vankeservice.com/js/jQuery.min.js"></script> 
  <script src="https://www.vankeservice.com/js/jquery.SuperSlide.2.1.2.js"></script> 
  <script src="https://www.vankeservice.com/js/main.js"></script> 
  <link rel="stylesheet" href="https://www.vankeservice.com/css/work.css" /> 
 </head> 
 <body>
   <% include template/header.ejs %>
  <div class="house commonHtml"> 
   <div class="bannerBox"> 
    <div class="bd"> 
     <ul> 
      <li style="background-image: url(https://www.vankeservice.com/upload/img/2017-10-16/64a55a90-5d30-42d8-9b7a-4e5e275705e0.jpg);"></li>
      <li style="background-image: url(https://www.vankeservice.com/upload/img/2017-10-16/4e1deee6-45f4-4353-b3d9-602945a5e3d5.jpg);"></li>
      <li style="background-image: url(https://www.vankeservice.com/upload/img/2017-10-16/e3cd07cf-9933-4343-a7e7-aa3e549fd1a2.jpg);"></li>
      <li style="background-image: url(https://www.vankeservice.com/upload/img/2017-10-16/d16f567b-8f4d-446f-83c3-221ac659c150.jpg);"></li>
      <li style="background-image: url(https://www.vankeservice.com/upload/img/2017-10-16/bc066105-e663-40cf-9e60-774b8df4c21c.jpg);"></li>
      <li style="background-image: url(https://www.vankeservice.com/upload/img/2017-10-16/7d7eef35-5f84-4343-b55b-c3221a6db88a.jpg);"></li> 
     </ul> 
    </div> 
   </div> 
   <div class="content"> 
    <div class="case"> 
     <div class="container"> 
      <h1>企业推荐</h1> 
      <div class="sliderBox active"> 
       <div class="bd"> 
        <ul> 
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="pc/img/business/1.jpg" alt="" /> 
            <h1>宿迁 ∙ 瑞声科技</h1> 
            <p>瑞声科技（沭阳）有限公司为您提供良好的工作环境、优厚的薪资福利、健全的培训机制、完善的生活配套，欢迎热情、积极、有梦想的您加入到我们的团队。</p> 
           </div> 
           <div class="backBox"> 
            <h1>宿迁 ∙ 操作工</h1> 
            <p>瑞声科技（沭阳）有限公司为您提供良好的工作环境、优厚的薪资福利、健全的培训机制、完善的生活配套，欢迎热情、积极、有梦想的您加入到我们的团队。 <br /></p> 
            <p style="margin-top: 15px;text-align: center;font-size: 17;">微信扫描二维码进行在线应聘</p> 
            <img style="width: 60%;height: auto; margin-top: 10px;margin-left: 20%;" src="pc/img/business/wechat1.png" alt="" /> 
           </div> </a> </li> 
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/b6ed839d-dab0-46fb-9f22-6f3893614271.jpg" alt="" /> 
            <h1>成都 ∙ 五龙山公园</h1> 
            <p>成都万科五龙山规划建筑面积约51.8万平方米，容积率九墅1.8、龙山别墅45.92%，绿化面积137956.57㎡。五龙山主要为住...</p> 
           </div> 
           <div class="backBox"> 
            <h1>成都 ∙ 五龙山公园</h1> 
            <p>成都万科五龙山规划建筑面积约51.8万平方米，容积率九墅1.8、龙山别墅45.92%，绿化面积137956.57㎡。五龙山主要为住宅，总户数2014户，现已接管1956户；物业管理收费方式采用包干制；实施万科物业管家服务，提供居家生活便捷的增值和个性服务；2013年，项目荣获区五星院落的称号；2014年，获成都市物业管理优秀项目；2016年，获成都市林业和园林管理局颁发的园林式居住小区。2015年五龙山物业服务中心开始全面实施万科物业“睿”服务，运用互联网思维和技术手段，改善项目物业管理的生产组织方式，提升运营效率和利益相关方体验；全面上线万科物业APP，员工助这儿，CRM系统，EBA系统，营账、战图系统，实施管理服务物联、互联，并于2017年通过成都市物业管理协会验收，获得“互联网+”示范项目的称号。 <br /></p> 
            <img src="pc/home/wechat1.jpg" alt="" /> 
           </div> </a> </li> 
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/b6ed839d-dab0-46fb-9f22-6f3893614271.jpg" alt="" /> 
            <h1>成都 ∙ 五龙山公园</h1> 
            <p>成都万科五龙山规划建筑面积约51.8万平方米，容积率九墅1.8、龙山别墅45.92%，绿化面积137956.57㎡。五龙山主要为住...</p> 
           </div> 
           <div class="backBox"> 
            <h1>成都 ∙ 五龙山公园</h1> 
            <p>成都万科五龙山规划建筑面积约51.8万平方米，容积率九墅1.8、龙山别墅45.92%，绿化面积137956.57㎡。五龙山主要为住宅，总户数2014户，现已接管1956户；物业管理收费方式采用包干制；实施万科物业管家服务，提供居家生活便捷的增值和个性服务；2013年，项目荣获区五星院落的称号；2014年，获成都市物业管理优秀项目；2016年，获成都市林业和园林管理局颁发的园林式居住小区。2015年五龙山物业服务中心开始全面实施万科物业“睿”服务，运用互联网思维和技术手段，改善项目物业管理的生产组织方式，提升运营效率和利益相关方体验；全面上线万科物业APP，员工助这儿，CRM系统，EBA系统，营账、战图系统，实施管理服务物联、互联，并于2017年通过成都市物业管理协会验收，获得“互联网+”示范项目的称号。 <br /></p> 
           </div> </a> </li> 
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/b6ed839d-dab0-46fb-9f22-6f3893614271.jpg" alt="" /> 
            <h1>成都 ∙ 五龙山公园</h1> 
            <p>成都万科五龙山规划建筑面积约51.8万平方米，容积率九墅1.8、龙山别墅45.92%，绿化面积137956.57㎡。五龙山主要为住...</p> 
           </div> 
           <div class="backBox"> 
            <h1>成都 ∙ 五龙山公园</h1> 
            <p>成都万科五龙山规划建筑面积约51.8万平方米，容积率九墅1.8、龙山别墅45.92%，绿化面积137956.57㎡。五龙山主要为住宅，总户数2014户，现已接管1956户；物业管理收费方式采用包干制；实施万科物业管家服务，提供居家生活便捷的增值和个性服务；2013年，项目荣获区五星院落的称号；2014年，获成都市物业管理优秀项目；2016年，获成都市林业和园林管理局颁发的园林式居住小区。2015年五龙山物业服务中心开始全面实施万科物业“睿”服务，运用互联网思维和技术手段，改善项目物业管理的生产组织方式，提升运营效率和利益相关方体验；全面上线万科物业APP，员工助这儿，CRM系统，EBA系统，营账、战图系统，实施管理服务物联、互联，并于2017年通过成都市物业管理协会验收，获得“互联网+”示范项目的称号。 <br /></p> 
           </div> </a> </li> 
        </ul> 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="case"> 
     <div class="container"> 
      <h1>企业推荐</h1> 
      <div class="sliderBox active">
       <div class="bd">
        <ul>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/b6ed839d-dab0-46fb-9f22-6f3893614271.jpg" alt="" /> 
            <h1>成都 ∙ 五龙山公园</h1> 
            <p>成都万科五龙山规划建筑面积约51.8万平方米，容积率九墅1.8、龙山别墅45.92%，绿化面积137956.57㎡。五龙山主要为住...</p> 
           </div> 
           <div class="backBox"> 
            <h1>成都 ∙ 五龙山公园</h1>
            <p>成都万科五龙山规划建筑面积约51.8万平方米，容积率九墅1.8、龙山别墅45.92%，绿化面积137956.57㎡。五龙山主要为住宅，总户数2014户，现已接管1956户；物业管理收费方式采用包干制；实施万科物业管家服务，提供居家生活便捷的增值和个性服务；2013年，项目荣获区五星院落的称号；2014年，获成都市物业管理优秀项目；2016年，获成都市林业和园林管理局颁发的园林式居住小区。2015年五龙山物业服务中心开始全面实施万科物业“睿”服务，运用互联网思维和技术手段，改善项目物业管理的生产组织方式，提升运营效率和利益相关方体验；全面上线万科物业APP，员工助这儿，CRM系统，EBA系统，营账、战图系统，实施管理服务物联、互联，并于2017年通过成都市物业管理协会验收，获得“互联网+”示范项目的称号。 <br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/f353528e-19ca-4a69-a028-f21f69ba20b9.jpg" alt="" /> 
            <h1>成都 ∙ 金润华府</h1> 
            <p>万科金润华府位于成都市锦江区，处在东二环路和东三环路之间的沙河居住区。本项目距沙河约500米，北侧约2000米为塔子山公园，环境良...</p> 
           </div> 
           <div class="backBox"> 
            <h1>成都 ∙ 金润华府</h1>
            <p>万科金润华府位于成都市锦江区，处在东二环路和东三环路之间的沙河居住区。本项目距沙河约500米，北侧约2000米为塔子山公园，环境良好。教育资源丰富，除四川师范大学外，项目周边有：省重点中学川师附中、四川师大附中等中小学校十几所，毗邻沙河生态绿化区，更有成都市区唯一园林式五星级宾馆——望江宾馆做地标，公园环抱。政府东大街延线规划已将金润华府所在区域作为继春熙商圈和东大街金融商圈之后，打造的第三圈——高端居住圈。为了不辜负这片绿色满眼的生态河景、五星级宾馆、名校学府环绕的土地，万科以用于建造别墅的宜居土地，专为青年人打造纯粹的住区，在城市繁华与宁静之间找到平衡。万科金润华府，我一代的城，有吃有玩有消遣，一切生活所需，都在这里。目前市场上为青年打造的房子大多属于“三无”产品，通常一个社区的最角落或最外延的单位都是留给青年人群的。事实上，为实现自我在社会里拼搏理想的青年应该得到更好的生活品质和居住价值。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/588fe3e1-455c-44b6-89c2-203c534c2402.jpg" alt="" /> 
            <h1>武汉 ∙ 红郡</h1> 
            <p>万科红郡位于武汉市东湖新技术开发区郑桥路,东至光谷实验中学，南至武大园三路，西至武大科技园，北至武大园一路，周边道路系统发达,交通...</p> 
           </div> 
           <div class="backBox"> 
            <h1>武汉 ∙ 红郡</h1>
            <p>万科红郡位于武汉市东湖新技术开发区郑桥路,东至光谷实验中学，南至武大园三路，西至武大科技园，北至武大园一路，周边道路系统发达,交通便捷。小区占地面积约24.78万平方米,总建筑面积约34.65万平方米。小区分为“赖特29”和“观庭”两大园区，“赖特29”是万科原创的低层叠院别墅产品，观庭由多层、小高层和高层组成。整个社区南北双会所，室内恒温和室外双泳池设计。2011年开始滚动交付，2013年12月31日封园。3204户业主，入住率80%左右。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/c4fe53ba-35ed-4e2e-af44-cd134c9bf5d9.jpg" alt="" /> 
            <h1>南宁 ∙ 魅力之城</h1> 
            <p>万科魅力之城位于南宁市五象新区五象湖国际住区核心位置，东邻生态景观（规划中），西邻实验重点小学，北靠南宁三中，南靠绕城高速。小区内...</p> 
           </div> 
           <div class="backBox"> 
            <h1>南宁 ∙ 魅力之城</h1>
            <p>万科魅力之城位于南宁市五象新区五象湖国际住区核心位置，东邻生态景观（规划中），西邻实验重点小学，北靠南宁三中，南靠绕城高速。小区内有四点半学堂、教育营地、农贸超市、幼儿园、地下停车场、尝不忘美食、休闲娱乐等配套设施。小区总占地面积约10.4万㎡，总建筑面积约43.68万㎡，规划户数3346户，规划车位3335个，规划容积率为3.2，绿化率达35%。万科魅力之城作为万科集团在南宁的第一个住宅项目，构建有1万㎡现代简约园林景观，打造4大情景主题，多重立体景观体系。1公里休闲跑道串连其间，每次慢跑都成为醉美的旅程，如同游走在芳香四溢，移步异景的私家花园。 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2016年9月万科物业进驻魅力之城以来，一直秉承着“让更多用户体验物业服务之美好”的服务理念，全面推行“睿服务”，为业户提供舒适、优质、高端的物业服务。房屋价格从0.6万元/平米升至1.8万元/平米，体现了万科物业是资产保值增值的捍卫者。近一年来，我们的设施设备定期保养，设备完好率100%，社区每月定期开展2-3次社文活动，客户满意度稳步上升，涌现出周斌、黄获中、谭永诗、张伦瑞等一批深受客户喜爱的员工，经常获得业主APP表扬及锦旗表扬。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/b0980da7-8692-40cb-84bf-0451f4c848aa.jpg" alt="" /> 
            <h1>长沙 ∙ 金域华府</h1> 
            <p>万科物业于2011年7月1日正式接管长沙万科金域华府项目，该项目作为长沙万科在武广地区的第一个全精装城市住宅，拥有高层住宅、公寓、...</p> 
           </div> 
           <div class="backBox"> 
            <h1>长沙 ∙ 金域华府</h1>
            <p>万科物业于2011年7月1日正式接管长沙万科金域华府项目，该项目作为长沙万科在武广地区的第一个全精装城市住宅，拥有高层住宅、公寓、写字楼、高档洋房和底层商业等多业态综合性的特征。万科物业不仅全方位满足不同业态的服务需求，还致力于向业主提供更为优质、便捷、安全、安心的高品质生活体验。2015年，金域华府做为长沙首个落地睿服务的项目，一直走在升级传统物业服务的最前沿，运用移动终端实现线上线下的融合互通。并且，通过对房屋的基础打理，实现了资产的保值增值，该项目价格明显高于片区平均价格，溢价率约40%，成为业界同行参观交流的标杆项目，也是万科高端社区幸福生活的典范。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/78a471bc-046b-4326-a0d2-ac543e505283.jpg" alt="" /> 
            <h1>广州 ∙ 东荟城</h1> 
            <p>万科东荟城拥有约2万方的商业配套——万荟商业广场，众多知名商家签约进驻，包括有华润万家超市、全家便利店、流湘岁月湘菜馆、农业银行、...</p> 
           </div> 
           <div class="backBox"> 
            <h1>广州 ∙ 东荟城</h1>
            <p>万科东荟城拥有约2万方的商业配套——万荟商业广场，众多知名商家签约进驻，包括有华润万家超市、全家便利店、流湘岁月湘菜馆、农业银行、KFC汽车餐厅等。与项目一路之隔的占地1346亩的广州植树公园，规模堪比越秀公园，成为项目天然的后花园，推窗即可尽览山湖胜景。项目交通四通八达，同时拥有广园快速、广深高速、广惠高速、环城高速、北二环高速等多条城际高速路网，2小时车程半径范围内可以达到珠三角的主要城市，包括香港、澳门。地铁六号线香雪总站距项目仅800米。更有多条公交线路直达市区，20分钟车程直达珠江新城，10分钟车程直达黄埔区中心。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/67de58fc-d4a1-445a-a525-660c13730fb8.jpg" alt="" /> 
            <h1>广州 ∙ 欧泊</h1> 
            <p>万科欧泊位于广州番禺区南村镇兴南大道368号，总占地面积约13.4万，总建筑面积47.4万平方米，包括一栋10层的公寓、二十二栋3...</p> 
           </div> 
           <div class="backBox"> 
            <h1>广州 ∙ 欧泊</h1>
            <p>万科欧泊位于广州番禺区南村镇兴南大道368号，总占地面积约13.4万，总建筑面积47.4万平方米，包括一栋10层的公寓、二十二栋33-42层的高层住宅，小区配有幼儿园、小学等教育资源；享受华南板块千亿城市级配套，周边商业配套齐全，有万博中心、番禺万达广场、天河城等；交通十分便利，临近华南快速、新光快速，广州地铁3、7号线接驳，20分钟可到珠江新城、广州南站。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/fdb35cce-7d11-44c7-afc0-15977f291805.jpg" alt="" /> 
            <h1>南京 ∙ 尚都荟</h1> 
            <p>万科尚都荟属于南京万科首个“三好”项目，位于南京南站，与九都荟、新都荟并称为南站“三剑客”。小区2016年首次交付，万科物业通过日...</p> 
           </div> 
           <div class="backBox"> 
            <h1>南京 ∙ 尚都荟</h1>
            <p>万科尚都荟属于南京万科首个“三好”项目，位于南京南站，与九都荟、新都荟并称为南站“三剑客”。小区2016年首次交付，万科物业通过日常维护，如：枯死苗木更换, 电梯轿厢保护板维护出新,大堂楼层地产广告包装膜清理,雨污井盖出新,电梯机房地面刷地坪漆,道旗更新, 楼层消防栓配件配备齐全,楼层灭火器配备, 常用标识标牌张贴安装,1-8栋污水管加装溢流管,喷泉区礼宾一米栏的设置, 1-8栋防火门门档的安装,每周4消杀,治理四乱一噪设施等等，使自2016首次交付起，其房价已达到42000元/㎡左右。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/3aa13df3-6712-4d16-ae8c-23b3152221bd.jpg" alt="" /> 
            <h1>南京 ∙ 金域缇香</h1> 
            <p>金域缇香位于南京市建邺区嵩山路，临近河西CBD,配套欧式古典园林，属于河西大户邸宅。该项目于2008年交付，至今管理已有9年，与当...</p> 
           </div> 
           <div class="backBox"> 
            <h1>南京 ∙ 金域缇香</h1>
            <p>金域缇香位于南京市建邺区嵩山路，临近河西CBD,配套欧式古典园林，属于河西大户邸宅。该项目于2008年交付，至今管理已有9年，与当时南京开发的同类项目相比，金域缇香现场管理品质保持良好，物业公司通过对自身管理要求的提升不断满足业主生活品质诉求，自2017年6月，金域缇香小区房价远高于奥体周边小区二手房价，其房价为50000元/㎡左右。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-11/ca732350-0160-416f-a17f-3be2979397d0.jpg" alt="" /> 
            <h1>苏州 ∙ 金域平江</h1> 
            <p>万科金域平江花园位于苏州市姑苏区平江新城中心版块，为商业与住宅一体。小区创造性地引入一条横贯四个地块的生活轴，环境雅致，道路宽敞，...</p> 
           </div> 
           <div class="backBox"> 
            <h1>苏州 ∙ 金域平江</h1>
            <p>万科金域平江花园位于苏州市姑苏区平江新城中心版块，为商业与住宅一体。小区创造性地引入一条横贯四个地块的生活轴，环境雅致，道路宽敞，各项智能化安全及排水设施有效提升了小区业主生活品质。万科物业精细化的管理与服务，使居民入住幸福指数更高。为丰富居民文化生活，万科物业积极组织开展各类节日、亲子、体育等社区活动，同时小区还配有多样化的公共设施来满足居民的文化需求。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-11/0600d315-3414-4b51-8a5a-43dfe15cd72c.jpg" alt="" /> 
            <h1>北京 ∙ 星园</h1> 
            <p>北京万科星园小区由北京万科企业有限公司开发，位于亚运村正北2.5公里，北五环往北500米。东距北苑路200米，西侧通过50米宽的绿...</p> 
           </div> 
           <div class="backBox"> 
            <h1>北京 ∙ 星园</h1>
            <p>北京万科星园小区由北京万科企业有限公司开发，位于亚运村正北2.5公里，北五环往北500米。东距北苑路200米，西侧通过50米宽的绿化隔离带与规划中的60米宽的城市快速安立路和13000亩的国家森林公园相连，南为景龙国际及上元小区，东北邻中央体育公园。万科星园小区规划占地面积11.2万平方米，总建筑面积32万平方米，开发住宅面积28万平方米，容积率2.5，建筑密度20.28%，绿化覆盖率62%，住宅户数2122户，商户24户，共计2146户。</p>
            <p>北京万科物业于2001年项目建成时即开始为业主提供各项物业服务，并于2003年取得“北京市优秀物业管理小区”称号，2004年10月获得“全国物业管理示范住宅小区”荣誉称号。</p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-11/590ee82f-ece0-49cb-ac4c-0321df7c04b5.jpg" alt="" /> 
            <h1>沈阳 ∙ 金域蓝湾</h1> 
            <p>作为沈阳首座泰式景观园林，金域蓝湾设计时引入了融东方审美情趣和浓厚异域风情于一体，以充满佛教色彩的雕塑、小品、图腾柱为点缀，东南亚...</p> 
           </div> 
           <div class="backBox"> 
            <h1>沈阳 ∙ 金域蓝湾</h1>
            <p>作为沈阳首座泰式景观园林，金域蓝湾设计时引入了融东方审美情趣和浓厚异域风情于一体，以充满佛教色彩的雕塑、小品、图腾柱为点缀，东南亚特色亭廊为内容，在融和中式园林的虚实空间中变化多端。园区物业设备设施齐全，物业服务中心全体人员全力为业主打造贴心放心的园区环境。2011年金域蓝湾项目被评为全省物业管理优秀住宅小区、和谐文明优秀示范小区。截至2016年底，园区业主对物业服务满意度超过百分之九十，收缴率高达98.71%。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-11/0ef457eb-f69a-4671-b6a4-6c284dbf2b69.jpg" alt="" /> 
            <h1>杭州 ∙ 良渚文化村</h1> 
            <p>良渚文化村位于杭州市西北部，距离杭州市中心16公里，距离良渚遗址保护区2公里。既紧靠著名的文化遗址，又有距杭州市区中心最近的丘陵绿...</p> 
           </div> 
           <div class="backBox"> 
            <h1>杭州 ∙ 良渚文化村</h1>
            <p>良渚文化村位于杭州市西北部，距离杭州市中心16公里，距离良渚遗址保护区2公里。既紧靠著名的文化遗址，又有距杭州市区中心最近的丘陵绿地和平原相结合的生态环境。</p>
            <p>良渚文化村，幅员万亩的旅居复合型田园小镇。5000亩占地，5000亩原生态山林，3-4万人口规划，用地面积334万平方米，其中住宅用地226万平方米，公建用地40平方米，旅游用地67.5万平方米，这是一座可持续发展，满足美好居住理想的生活之城。</p>
            <p>每年的“村民日”，良渚文化村村民自发众筹组织盛大活动，传承温暖的村民公约。在今年的村民节，3月19日这天，还将正式推出村民电视台台歌《有故事的人》。节日期间，美食节、跳蚤集市、小型音乐会、摄影艺术展、书画展等活动都会精彩呈现。</p>
            <p>万科良渚文化村白鹭郡南一期地处万科良渚文化村中央区块，东临毛家漾港河，西为大雄山脉，南侧是商业配套中心，北靠体育公园。总建筑面积近19万平方米，总占地面积13.4万多平方米，其中A区总建筑面积11.87万平方米，B区总建筑面积7.14万多平方米，地下车库近1万平方米。2009年4月交由万科物业接管，项目主体为53幢4-5层多层住宅。绿化率：35%、容积率：1.10、建筑密度：29%。一期住宅总户数1514户，入住率60%。目前小镇六大配套系统已经陆续启动，已落成东西南北和市中心贯通的多条线路公交车经过，衣食住行、科教文卫各类高品质配套内容，优雅、繁华与便捷的梦想生活已成为现实。</p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-11/d28cdf81-d885-4a7b-8a32-75592b8197e0.jpg" alt="" /> 
            <h1>厦门 ∙ 海沧万科城</h1> 
            <p>海沧万科城处滚动开发状态自2012年开盘到2015年接管以来，人员入住不断增长，在厦门万科项目中有着人多地广的优势，在岛外众多物业...</p> 
           </div> 
           <div class="backBox"> 
            <h1>厦门 ∙ 海沧万科城</h1>
            <p>海沧万科城处滚动开发状态自2012年开盘到2015年接管以来，人员入住不断增长，在厦门万科项目中有着人多地广的优势，在岛外众多物业中有着高品质好服务的口碑，接管一年于2016年荣获省物业管理示范项目。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-11/44adf1ac-7a0e-499a-8df0-166e1763f347.jpg" alt="" /> 
            <h1>深圳 ∙ 璞悦山</h1> 
            <p>万科璞悦山位于南坪快速与坂雪岗大道交汇处，为万科TOP系高端住宅，睿服务体系试点项目，社区内配有高端会所、商业和幼儿园等基础配套。...</p> 
           </div> 
           <div class="backBox"> 
            <h1>深圳 ∙ 璞悦山</h1>
            <p>万科璞悦山位于南坪快速与坂雪岗大道交汇处，为万科TOP系高端住宅，睿服务体系试点项目，社区内配有高端会所、商业和幼儿园等基础配套。项目规划有42套双拼豪华别墅，578套175-220㎡平层大宅，双套房设计、奢华客厅、主卧、步入式衣帽间，璞悦山小区共29栋，其中6栋高层、21栋别墅、1栋商业会所、1栋幼儿园。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//image/work/house7.jpg" alt="" /> 
            <h1>北京 ∙ 蓝山苑</h1> 
            <p>北京万科蓝山苑社区地处CBD都市核心区。位于朝阳区西大望路，东三环、四环之间，距国贸中心仅3公里，西距东三环1.5公里，邻近东四环...</p> 
           </div> 
           <div class="backBox"> 
            <h1>北京 ∙ 蓝山苑</h1>
            <p>北京万科蓝山苑社区地处CBD都市核心区。位于朝阳区西大望路，东三环、四环之间，距国贸中心仅3公里，西距东三环1.5公里，邻近东四环，交通便利、地理位置优越，秉承北京国际化都市形象，承载着大批国际化精英人群的居住需求。周边配套设施完善、高端商业气氛浓重，如：东都影城、美罗城、红星美凯龙等。蓝山苑社区不仅商业配套完善，在教育资源上也配套完善如：春风化雨双语幼儿园、北京市实验二小分校、三里屯一中。</p>
            <p>万科蓝山苑物业服务中心于2011年9月正式进驻，至今已为蓝山苑社区提供6年的高端品质物业服务，房屋价格也由4万元/平方米上涨至11万元/平方米，房屋价格高于周边社区，可见高品质的物业服务对于客户资产的保值增值。还在2015年度被北京市朝阳区评为生活垃圾分类达标社区，为朝阳区垃圾分类工作做出了贡献。2016年取得万科物业“TOP10”的优秀成绩。</p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//image/work/house8.jpg" alt="" /> 
            <h1>沈阳 ∙ 九洲湾景汇</h1> 
            <p></p> 
           </div> 
           <div class="backBox"> 
            <h1>沈阳 ∙ 九洲湾景汇</h1> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//image/work/house9.jpg" alt="" /> 
            <h1>青岛 ∙ 蓝山</h1> 
            <p>万科蓝山小区总建筑面积约20万平米，位于青岛市市北区福州北路，享有城市新都心的未来与前景，又与老城区的成熟与繁华咫尺为邻。蓝山建筑...</p> 
           </div> 
           <div class="backBox"> 
            <h1>青岛 ∙ 蓝山</h1>
            <p>万科蓝山小区总建筑面积约20万平米，位于青岛市市北区福州北路，享有城市新都心的未来与前景，又与老城区的成熟与繁华咫尺为邻。</p>
            <p>蓝山建筑依山势而建，在保证南向视野开阔、采光充足的同时，又充分享受到良好的自然景观资源。项目规划有两种产品类型，一类是10层左右的小高层，一类是30层左右的高层产品，规划面积在90—200㎡之间。</p>
            <p>万科蓝山项目依托罕有的独立山体资源，打造高品质大尺度的风格化景观园林。 </p> 
           </div> </a> </li>
        </ul>
       </div>
       <a href="javascript:;" class="left"></a>
       <a href="javascript:;" class="right"></a>
      </div>
      <div class="sliderBox ">
       <div class="bd">
        <ul>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/143ef8bd-c078-4a09-957e-746797d2a97f.jpg" alt="" /> 
            <h1>上海 ∙ 春申复地城</h1> 
            <p>春申复地城项目距离春申万科城1.8公里，属于春申化蝶区域项目，春申复地城（一期）位于上海市闵行区春申路3355号，楼盘品质非凡，分...</p> 
           </div> 
           <div class="backBox"> 
            <h1>上海 ∙ 春申复地城</h1>
            <p>春申复地城项目距离春申万科城1.8公里，属于春申化蝶区域项目，春申复地城（一期）位于上海市闵行区春申路3355号，楼盘品质非凡，分为多层和小高层，绿化率高，乔灌木参差分布，各季配有应景花植，小区布有水景，视觉景观好。春申路地铁站和莘庄地铁站距离本项目仅10—15分钟路程。附近莘庄立交系统、A4高速、沪闵路高架、外环线和中环线等，便捷抵达市内各大商圈。小区毗临宝燕商城，荟萃交通、商业、商务、休闲、娱乐、教育于一身。</p>
            <p>自2016.10.1万科物业进驻以来，小区内停车矛盾、南北通行问题、设施设备改造、停水矛盾都得到了有效解决，万科物业的进驻，有效提升了服务品质、满意度以及收缴率，进驻2个月后房价总体上涨6500元/㎡，房价总体趋势高于上海市及春申片区平均房价值，充分体现了万科物业对房屋的保值增值。</p>
            <p><br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/f75d2c18-fe44-4d2f-ac1e-5fa7b9d0f6cc.jpg" alt="" /> 
            <h1>南京 ∙ 星雨华府</h1> 
            <p>星雨华府为万科物业接管的第一个二手盘，属于河西明星楼盘，曾经小区以其独特的绿化景观设计吸引了无数南京购房者。直至2015年，小区绿...</p> 
           </div> 
           <div class="backBox"> 
            <h1>南京 ∙ 星雨华府</h1>
            <p>星雨华府为万科物业接管的第一个二手盘，属于河西明星楼盘，曾经小区以其独特的绿化景观设计吸引了无数南京购房者。直至2015年，小区绿化环境、现场管理品质早已失去曾经的风采，小区成立业委会决定更换物业公司，自2016年4月1日万科物业进驻星雨华府，第一个小区房价上涨近1万元/平方米，达50000元/㎡左右。同时项目基础设施改造、绿化带整改、管家入户访谈、社区活动等工作展开，为小区业主营造幸福的社区氛围。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-12/09556a96-766e-4388-8ce6-86955fc2bf38.jpg" alt="" /> 
            <h1>南京 ∙ 托乐嘉</h1> 
            <p>万科物业自2016年11月27日进驻托乐嘉，入驻一个月内路面整修共计267处、铁艺出新共计105处，楼道粉刷6200平方，绿化补种...</p> 
           </div> 
           <div class="backBox"> 
            <h1>南京 ∙ 托乐嘉</h1>
            <p>万科物业自2016年11月27日进驻托乐嘉，入驻一个月内路面整修共计267处、铁艺出新共计105处，楼道粉刷6200平方，绿化补种约33500平方，苗木补种56500棵，垃圾清运共计1125车，清洗垃圾桶2400次；更换灯泡600多只，家政维修236单，流星雨灯安装1000条等等，每月至少开展两次社区活动。2017年6月，是万科物业进驻托乐嘉迎来的第一个雨季，经过万科物业与热心业主的共同努力，小区业主车辆终于免遭大雨的摧残，项目管理人员受到业主的点赞！自2016年11月27日，托乐嘉小区已涨至30000元/㎡左右。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-11/d4a170b2-e0ad-4846-bb60-9cbc1d8b0427.jpg" alt="" /> 
            <h1>苏州 ∙ 湖滨花园南区</h1> 
            <p>湖滨花园南区位于苏州市吴中区，紧邻独墅湖西侧，11栋高层，6栋洋房，40幢别墅，总户数1485户。小区原有环境卫生差，秩序安全管理...</p> 
           </div> 
           <div class="backBox"> 
            <h1>苏州 ∙ 湖滨花园南区</h1>
            <p>湖滨花园南区位于苏州市吴中区，紧邻独墅湖西侧，11栋高层，6栋洋房，40幢别墅，总户数1485户。小区原有环境卫生差，秩序安全管理薄弱，基础设施设备损坏严重。万科物业于2017年1月1日进驻小区，经过服务中心近六个月的努力，小区环境变好了，绿化变美了，停车有序了，安全保障提升了，设施设备也逐渐维修更换到位，加之小区600多米的湖岸风景线，房价提升了近20%，业主满意度也大大提升！<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-11/b3c86cd9-cc8c-48ff-ac62-29f1d42dcc68.jpg" alt="" /> 
            <h1>长春 ∙ 高新和园</h1> 
            <p>高新和园项目为长春高新房地产开发有限责任公司开发的低密度高端住宅项目。为打造城市洋房标杆项目，高新地产与万科物业强强联手，2016...</p> 
           </div> 
           <div class="backBox"> 
            <h1>长春 ∙ 高新和园</h1>
            <p>高新和园项目为长春高新房地产开发有限责任公司开发的低密度高端住宅项目。为打造城市洋房标杆项目，高新地产与万科物业强强联手，2016年8月1日首批交付即由万科物业正式接管。接管至今近一年时间，小区房屋均价由最初的10000元/平上涨至现在的12000元/平。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-11/1b110f91-3abd-422b-adba-56840b2637ba.jpg" alt="" /> 
            <h1>沈阳 ∙ 九州湾景汇</h1> 
            <p>2016年9月1日，沈阳万科物业正式进驻九洲湾景汇。接管后，管理团队迅速改造园区品质，绿化环境更加优美，增设黑猫一号智能化人行出入...</p> 
           </div> 
           <div class="backBox"> 
            <h1>沈阳 ∙ 九州湾景汇</h1>
            <p>2016年9月1日，沈阳万科物业正式进驻九洲湾景汇。接管后，管理团队迅速改造园区品质，绿化环境更加优美，增设黑猫一号智能化人行出入口，设施设备更加完善，安全系数大幅度提升，邻里关系越来越和谐，种种改善获得业主的大量好评。园区价格从接管前的5000元/㎡迅速上升到如今近10000元/㎡，品质的迅速提升造就了万科物业更加强大的品牌力量。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//upload/img/2017-08-11/2a3815ad-1d41-4e83-bbf2-2f4dc374f6c5.jpg" alt="" /> 
            <h1>沈阳 ∙ 中铁丁香水岸</h1> 
            <p>沈阳万科物业于2016年5月1日进驻中铁丁香水岸，入场后针对业主提出的违停车、环境差、设施设备损坏等问题依据接管计划进行了全面整改...</p> 
           </div> 
           <div class="backBox"> 
            <h1>沈阳 ∙ 中铁丁香水岸</h1>
            <p>沈阳万科物业于2016年5月1日进驻中铁丁香水岸，入场后针对业主提出的违停车、环境差、设施设备损坏等问题依据接管计划进行了全面整改，在整改的过程中得到了业主的广泛好评和大力支持。目前，园区的现场环境较接管之前有了显著的改变，看房客户呈现数量级式的增长。同时，万科物业入场前后，每平米单价上升近2000元。<br /></p> 
           </div> </a> </li>
         <li> <a href="javascript:;"> 
           <div class="frontBox"> 
            <img src="https://www.vankeservice.com//image/work/house10.jpg" alt="" /> 
            <h1>南京 ∙ 钟鼎山庄</h1> 
            <p>钟鼎山庄位于南京玄武区中山门大街，小区自2009年交付，以花园洋房、联排别墅为主，万科物业自2016年7月进驻钟鼎山庄，开始对小区...</p> 
           </div> 
           <div class="backBox"> 
            <h1>南京 ∙ 钟鼎山庄</h1>
            <p>钟鼎山庄位于南京玄武区中山门大街，小区自2009年交付，以花园洋房、联排别墅为主，万科物业自2016年7月进驻钟鼎山庄，开始对小区进行整改，开展开荒保洁、消防系统、周建系统改造、违建管控等工作，同时项目幸福驿站搬迁、安全员年轻化，管家贴心服务等各类人性化服务赢得小区业主的认可。进驻一个月后，小区房价整体上涨3000元/㎡，达到48000元/㎡左右。<br /></p> 
           </div> </a> </li>
        </ul>
       </div>
       <a href="javascript:;" class="left"></a>
       <a href="javascript:;" class="right"></a>
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
  <script type="text/javascript">
    $(".sliderBox").slide({
        mainCell: ".bd ul",
        prevCell: ".left",
        nextCell: ".right",
        titCell: ".hd a",
        effect: "leftLoop",
        autoPlay: false,
        easing: "easeOutCirc",
        interTime: 5000,
        vis: 4
    });
    $('.case p').find('a').each(function (index, ele) {
        $(ele).click(function () {
            $(this).parents('p').find('.active').removeClass('active');
            $(this).addClass('active');
            $('.case .sliderBox.active').removeClass('active');
            $('.case').find('.sliderBox').eq(index).addClass('active');
        })
    })
    slide4('.sliderBox');
</script> 
  <script type="text/javascript" src="https://www.vankeservice.com/js/c_slideWr.js"></script> 
  <script type="text/javascript">
        $(function () {
            //$(window).load(function () {
                if ($(".bannerBox .bd ul li") && $(".bannerBox .bd ul li").length > 1) {
                    $(".bannerBox").slide({
                        mainCell: ".bd ul",
                        effect: "leftLoop",
                        autoPlay: true,
                        easing: "easeOutCirc",
                        interTime: 5000,
                        vis: 'auto'
                    });
                }
            //})
        })
    </script>  
  <script>
      var urlstr = location.href;
        $(".navBox li a").each(function () {
            if ((urlstr + '/').indexOf($(this).attr('href')) > -1 && $(this).attr('href') != '') {
                $(this).parent().addClass('on').siblings('li').removeClass('on');
            } else {
                $(this).parent().removeClass('on');
            }
        });
</script> 
<% include template/footer.ejs %>
<% include template/sidebar.ejs %>
 </body>
</html>