<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" /><meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
	<link rel="stylesheet" href="/pc/css/common.css" />
	<link rel="stylesheet" href="https://www.vankeservice.com/css/style.css" />
	<link rel="stylesheet" href="https://www.vankeservice.com/css/index.css" />
	<script src="https://www.vankeservice.com/js/uaredirect.js?v=1.0.1" type="text/javascript" charset="utf-8"></script>
	<script src="/library/js/jQuery.min.js"></script>
	<title>江苏仁铼劳务服务有限公司</title>
</head>

<body class="home">
    <% include template/header.ejs %>

    <div class="index contentBox">
        <div id="masterslider" class="slideBox">
			<div class="hd">
				<ul>
					<li class="on"></li>
					<li class=""></li>
					<li class=""></li>
				</ul>
			</div>
			<div class="bd">
				<ul>
					<li class="0000" style="width: 100%; background: url(/home/banner3.jpg) no-repeat center;">
						<a href="" target="_blank" id="yhbanner"></a>
					</li>
					<li class="" style="width: 100%; background: url(/home/banner.jpg) no-repeat center;">
						<a href="" target="_blank"></a>
					</li>
					<li class="" style="width: 100%; background: url(/home/banner2.jpg) no-repeat center;">
						<a href="" target="_blank"></a>
					</li>
				</ul>
			</div>
			<a class="prev" href="javascript:void(0)"></a>
			<a class="next" href="javascript:void(0)"></a>
        </div>
        <div class="introBox">
            <div class="container">
                <div class="leftBox">
                    <div class="news-tabbtn">
                        <ul>
                            <li class="curr">公司理念<em></em></li>
                        </ul>
                    </div>
                    <div class="news-tabmain">
                        <div class="tabmain fadeInRight">
                            <a href="javascript::">
                                <h3>让天下没有难找的工作</h3>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="rightBox">
                    <h1>业务布局</h1>
                    <p><span>3</span>个省，超过<span>20个</span>合作企业</p><p style="margin-top:75px;">数据截至2018年12月</p>
                </div>
            </div>
        </div>
        <div class="subSliderBox">
            <div class="container">
                <p>OUR PRODUCT&SERVICE</p>
                <h2>我们为您提供的服务</h2>
                <div class="subSlider">
                    <div class="bd">
                        <ul>
                            <li>
                                <a href="javascript:;" style="background: url(/home/slider1.jpg) no-repeat center;">
                                    <h1>生态劳务平台</h1>
                                    <p>公司具有完善的经验运作经验，年劳务输出两千多次，是徐州最大的劳务输出服务公司</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" style="background: url(/home/slider2.jpg) no-repeat center;">
                                    <h1>生态劳务高峰论坛</h1>
                                    <p>创新成熟的劳务运营模式，为广大劳务从业者建设健康、高效、良性循环的生态劳务圈奠定坚实基础。</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" style="background: url(/home/slider3.jpg) no-repeat center;">
                                    <h1>机器人招聘系统</h1>
                                    <p>每天800通电话以上，全年无休，状态全天5颗星，自主智能学习，不断积累越来越好</p>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" style="background: url(/home/slider4.jpg) no-repeat center;">
                                    <h1>人力资源管理培训</h1>
                                    <p>改善全国劳务市场的用工环境，平衡全国劳动力就业压力,解决企业用工需求不平衡</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="dotBox">
                        <ul>
                            <li><span></span>
                                <span></span>
                                <span></span></li>
                            <li><span></span>
                                <span></span>
                                <span></span></li>
                        </ul>
                    </div>
                    <a href="javascript:;" class="prev"></a>
                    <a href="javascript:;" class="next"></a>
                </div>
            </div>
        </div>
        <div class="activityBox">
            <div class="container">
                <div class="listBox">
                    <h1>新闻中心</h1>
                    <div id="container">
                        <div class="newsBox">           
							<a href="https&#58;&#47;&#47;lepao.vankeservice.com&#47;review.aspx&#63;typeId&#61;5&#38;id&#61;446">               
								<div class="textBox">                   
									<h3>2018.11.03</h3>                   
									<h1>2019生态劳务&#8212;&#8212;徐州站</h1>                  
									<p style="padding-bottom: 20px;">三星在周三发布了2015财年第三财季的财报，运营利润同比大增了79.8%至63亿美元，受到财报的刺...</p>                   
									<span class="eye">
										<i class="homeIcon homeIcon-eye"></i>11986
									</span>               
								</div>           
							</a>       
						</div>
						<div class="newsBox">           
							<a href="https&#58;&#47;&#47;lepao.vankeservice.com&#47;review.aspx&#63;typeId&#61;5&#38;id&#61;445">               
								<div class="textBox">                   
									<h3>2018.10.28</h3>                   
									<h1>滴滴拿牌照：解读专车“上</h1>                   
                                    <p style="padding-bottom: 20px;">10月8日下午，上海市交通委向滴滴快的专车平台颁发了网络约租车（俗称专车）平台经营资格...</p>                   
                                    <span class="eye"><i class="homeIcon homeIcon-eye"></i>9346</span>
                                </div>
                            </a>
                        </div>
                        <div class="newsBox">
                            <a href="https&#58;&#47;&#47;lepao.vankeservice.com&#47;review.aspx&#63;typeId&#61;5&#38;id&#61;442">
                                <div class="textBox">
                                    <h3>2018.10.27</h3>
                                    <h1>人事行政管理职责是什么</h1>
                                    <p style="padding-bottom: 20px;">一、制度建设：
                                            1、涉及制度：人事管理制度；考评制度；会务管理制度；行为规范管理制度；考勤制度；安...</p>
                                            <span class="eye"><i class="homeIcon homeIcon-eye"></i>5260</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="newsBox">
                                    <a href="https&#58;&#47;&#47;lepao.vankeservice.com&#47;review.aspx&#63;typeId&#61;5&#38;id&#61;444">
                                        <div class="textBox">
                                            <h3>2018.10.27</h3>
                                            <h1>2019生态劳务&#8212;&#8212;郑州站</h1>
                                            <p style="padding-bottom: 20px;">10月27日上午，2018郑州万科社区乐跑赛在郑州天健湖畔欢乐开跑，此次活动共有来自14个社区、超1200名万科物业社区业主参加。</p>                   
									<span class="eye"><i class="homeIcon homeIcon-eye"></i>5897</span>               
								</div>           
							</a>       
						</div>
                    </div>
                </div>
                <div class="recBox">
                    <a href="/business" style="background-image: url(/home/business.jpg)"></a>
                    <div class="bottomBox">
                        <a href="javascript::" class="left" style="background-image: url(/home/joinUs.jpg)"></a>
                        <a href="javascript::" class="right" style="background-image: url(/home/getJob.jpg)"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include template/footer.ejs %>
    <% include template/sidebar.ejs %>
    <script src="https://www.vankeservice.com/js/jquery.SuperSlide.2.1.2.js"></script>
    <script src="https://www.vankeservice.com/js/smooth.js"></script>
    <script src="https://www.vankeservice.com/js/blocksit.js"></script>
    <script src="https://www.vankeservice.com/js/main.js"></script>
    <script type="text/javascript">
        jQuery("#masterslider").slide({ mainCell: ".bd ul", effect: "left", autoPlay: true, interTime: 8000 });
        $(window).load(function () {
            $(".news-tabbtn li").on("mouseover", function () {
                var li_i = $(this).index();
                $(this).addClass("curr").siblings().removeClass("curr");
                $(".news-tabmain").find(".tabmain").eq(li_i).stop().show().siblings().stop().hide();
            });
            $(".subSlider").slide({
                mainCell: ".bd ul",
                titCell: '.dotBox li',
                prevCell: ".prev",
                nextCell: ".next",
                effect: "left",
                autoPlay: true,
                vis: 3,
                easing: "easeOutCirc",
                pnLoop: true,
                scroll: 3
            });
            var getCol = function () {
                $('#container').BlocksIt({
                    numOfCol: 2,
                    offsetX: 10,
                    offsetY: 8
                });
            }
            getCol();
            $('.icon').click(function (event) {
                $('html, body, .content').animate({
                    scrollTop: $('#masterslider').height() - 40
                }, 500);
                return false;
            });
            var upVil = 0;
            /*$('#yhbanner').append('<img class="gifimg" src="image/home/f.gif">');
            setTimeout(function () {
                $(".gifimg").css('display', 'block');
            }, 3000)*/
        });

    </script>
</body>
</html>
