<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" /><meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>江苏仁铼劳务服务有限公司</title>
    <link rel="stylesheet" href="/pc/css/common.css" />
    <script src="https://www.vankeservice.com/js/jQuery.min.js"></script>
    <script src="https://www.vankeservice.com/js/jquery.SuperSlide.2.1.2.js"></script>
    <script src="https://www.vankeservice.com/js/main.js"></script>
    <link rel="stylesheet" href="pc/css/news.css">
    <script src="https://www.vankeservice.com/js/smooth.js"></script>
</head>
<body>
    <% include template/header.ejs %>
       

<div class="newsCenter commonHtml">
    <div class="bannerBox" style="background-image: url(/pc/img/news/mediaCenterBg.jpg)"></div>
    <div class="content">
        <div class="container">
            <div class="leftBox">
                <ul class="bottomList"><li>    <a href="news.aspx?type=0&id=1698">            <div class="textBox hasThumbnail">            <h1>万物商企荣获腾讯2018&#8220;优秀服务供应商奖&#8221;</h1>            <p>2019年2月27日，腾讯“和合共生”2019服务类供应商大会在腾讯滨海大厦举办。万物商企作为腾讯全球新总部腾讯滨海大厦的物业服务商，从服务于腾讯的5959家服务类供应商中脱颖而出，荣获腾讯颁发的20...</p>                <div class="infoBox">                    <div class="fl">                    <span class="eye">4039</span>                    </div>                    <div class="fr"><span class="time">2019.02.27</span></div>                    <div class="thumbnailBox"><img src="https://www.vankeservice.com//upload/img/2019-03-01/1b66e2d7-e91e-46d6-8c80-12a98693b752.png" alt=""></div>                </div>            </div>        </a>    </li><li>    <a href="news.aspx?type=0&id=1507">            <div class="textBox hasThumbnail">            <h1>2018年物业服务企业综合实力测评TOP100 万科物业再居榜首</h1>            <p>10月15日，以“融合发展，共创美好”为主题的2018国际物业管理产业博览会在深圳国际博览中心拉开帷幕。在同时举办的第四届中国物业管理创新发展论坛上，正式发布《2018全国物业管理行业发展报告》，并现...</p>                <div class="infoBox">                    <div class="fl">                    <span class="eye">20044</span>                    </div>                    <div class="fr"><span class="time">2018.10.16</span></div>                    <div class="thumbnailBox"><img src="https://www.vankeservice.com//upload/img/2018-10-16/0a1d17e2-11d6-428e-aa35-f4d9cbefe400.png" alt=""></div>                </div>            </div>        </a>    </li><li>    <a href="news.aspx?type=0&id=1506">            <div class="textBox hasThumbnail">            <h1>万科物业发布&#8220;住宅商企 两翼齐飞&#8221;战略</h1>            <p>10月15日，由中国物业管理协会主办的第二届国际物业管理产业博览会在深圳会展中心顺利开幕。本届物博会以“融合发展、共创美好”为主题，吸引到超过120家国内外优秀展商参展。论坛上，万科物业CEO朱保全发...</p>                <div class="infoBox">                    <div class="fl">                    <span class="eye">12446</span>                    </div>                    <div class="fr"><span class="time">2018.10.16</span></div>                    <div class="thumbnailBox"><img src="https://www.vankeservice.com//upload/img/2018-10-16/59b05a2b-5261-4baa-aaee-eb31895e4dc4.png" alt=""></div>                </div>            </div>        </a>    </li><li>    <a href="news.aspx?type=0&id=1505">            <div class="textBox hasThumbnail">            <h1>致敬员工&#65292;致敬合作伙伴&#65292;万科物业亮相2018物博会</h1>            <p>10月15日，由中国物业管理协会主办的第二届国际物业管理产业博览会在深圳会展中心顺利开幕。本届物博会以“融合发展、共创美好”为主题，吸引到超过120家国内外优秀展商参展。论坛上，万科物业CEO朱保全发...</p>                <div class="infoBox">                    <div class="fl">                    <span class="eye">10288</span>                    </div>                    <div class="fr"><span class="time">2018.10.16</span></div>                    <div class="thumbnailBox"><img src="https://www.vankeservice.com//upload/img/2018-10-16/a6d225e3-3d71-4c4f-8285-35c2b1fd3175.png" alt=""></div>                </div>            </div>        </a>    </li><li>    <a href="news.aspx?type=0&id=1475">            <div class="textBox hasThumbnail">            <h1>万科物业发布HSQ高端物管认证体系</h1>            <p>2018年10月10日，HSQ万科物业高端物管认证体系发布会于北京万科大都会隆重举行。发布会上，万科物业正式推出HSQ高端物管认证体系（下简称“HSQ认证体系”），从用户体验出发，以“随需而动，本应如...</p>                <div class="infoBox">                    <div class="fl">                    <span class="eye">9745</span>                    </div>                    <div class="fr"><span class="time">2018.10.11</span></div>                    <div class="thumbnailBox"><img src="https://www.vankeservice.com//upload/img/2018-10-11/c016316b-ca8b-4b9f-9db3-266966ba44d0.png" alt=""></div>                </div>            </div>        </a>    </li></ul><a href="javascript:;" class="moreIcon"></a>
            </div>
        </div>
    </div>
</div>
<script src="https://www.vankeservice.com/js/blocksit.js"></script>
<script type="text/javascript">
    var ul_obj = $('.bottomList');
    var more_btn = $('.moreIcon');
    $(function () {
        var pageIndex = 1, pageSize = parseInt('5');
        //loadMore(pageIndex, pageSize);
        more_btn.on('click', function () {
            loadMore(++pageIndex, pageSize);
        });
    });
    function loadMore(pageIndex, pageSize) {
        $.ajax({
            type: 'post',
            async: false,
            url: 'WebUserControl/news/GetMarketMore.ashx',
            data: { pageIndex: pageIndex, pageSize: pageSize, typeId: '0' },
            success: function (data) {
                var json = eval("(" + data + ")");
                if (json.List != '') {
                    ul_obj.append(json.List);
                    more_btn.css({ "display": "block" });
                    if (pageIndex > 1) {
                        $('html,body').animate({ scrollTop: ul_obj.find('.page' + pageIndex).prev().offset().top }, 1000);
                    }
                    if (ul_obj.find('.textBox').length >= parseInt(json.Count))
                        more_btn.css({ "display": "none" });
                } else
                    more_btn.css({ "display": "none" });
            }
        });
    }
</script>


    <% include template/footer.ejs %>
    <% include template/sidebar.ejs %>

</body>
</html>

<script>

      var urlstr = location.href;
        $(".navBox li a").each(function () {
            if ((urlstr + '/').indexOf($(this).attr('href')) > -1 && $(this).attr('href') != '') {
                $(this).parent().addClass('on').siblings('li').removeClass('on');
            } else {
                $(this).parent().removeClass('on');
            }
        });
</script>
